<html>
<head>
    <title>Best Restaurants</title>
</head>
<body>
    <h1>Welcome to best restaurants!</h1>

    <p>Create a new cuisine type:</p>

    <form action="/cuisine" method="post">
        <label for="type">Type of cuisine:</label>
        <input id="type" name="type" type="text">
        <button type="submit">Add cuisine</button>
    </form>

    {% if cuisines is not empty %}
    <ul>
        {% for cuisine in cuisines %}
            <li><a href="/cuisine/{{ cuisine.getId }}">{{ cuisine.getType }}</a></li>
        {% endfor %}
    </ul>
    {% else %}

    <p>There are no cuisine types to display!</p>
    {% endif %}

    <form action="/delete_cuisines" method="post">
        <button type="submit">Delete cuisines</button>
    </form>
</body>
</html>
