<html>
<head>
    <title>Best Restaurants</title>
</head>
<body>
    <h1>Welcome to best restaurants!</h1>

    <p><a href="/cuisines">Click</a>to see all of the types of cuisines and to add a cuisine type.</p>
    <p><a href="/restaurants">Click</a>to see all of the restaurants and to add a restaurant.</p>

</body>
</html>
