<html>
<head>
    <title>Best Restaurants</title>
</head>
<body>
    <h1>Welcome to best restaurants!</h1>

    <p>Create a new cuisine type:</p>

    <form action="/cuisines" method="post">
        <label for="type">Type of cuisine:</label>
        <input id="type" name="type" type="text">
        <button type="submit">Add cuisine</button>
    </form>

    {% if cuisines is not empty %}
        {% for cuisine in cuisines %}
        <ul>
            <<li><a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getName }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no cuisine types to display!</p>
    {% endif %}
</body>
</html>
